<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.med.fast">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <context android:name="com.med.fast.LoginActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </context>
        <context android:name=".signup.SignupActivity"
            android:theme="@style/AppTheme" />
        <context android:name=".signup.InitialDataAllergyActivity"
            android:theme="@style/AppTheme.InitialData"
            android:exported="true"/>
        <context android:name=".MainActivity" />

        <activity android:name=".management.accidenthistory.AccidentEditActivity" />
        <activity android:name=".management.allergy.AllergyEditActivity" />
    </application>

</manifest>